.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	margin-bottom: 50px;
}

.term1, .term2, .term3 {
	margin: 30px;
}

#agree {
	font-size: 12px;
}

#join_btn {
	background-color: rgb(178, 178, 238);
    border: none;
    width: 850px;
    height: 30px;
    color: rgb(17, 17, 17);
    border-radius: 3px
}

#join_btn:hover {
	background-color: rgb(132, 132, 227);
}