
@charset "UTF-8";


body{
width:100%;
height:100%
}

.main{
width:90%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin:5%;
text-align:center;
}	


.carousel{
width:80%;
height:20%;
margin:auto;
}

.eventbanner{
margin-top:10%

}
.betstitem{
margin:10%;
}

.mainitem{
width:50%;
height:100%;
display:flex;
flex-direction: row;		

}

.subbest{
display:flex;
flex-direction:row;

}

.newtext{
margin-top:10%;
margin-bottom:0;
}

.bigbanner{
display:flex;
flex-direction: row;	

}

.newitem{
display:flex;
flex-direction: row;		
margin:60px;
margin-top:0;
}

.railboard{
display:flex;
flex-direction: column;		
margin:40px;	
}

.floarboard{
display:flex;
flex-direction: column;	
margin:40px;
}

.standboard{
display:flex;
flex-direction: column;	
margin:40px;
}

.wallboard{
display:flex;
flex-direction: column;	
margin:40px;
}

.board{
display:flex;
flex-direction: row;
justify-content:center;
align-items:center;
margin:60px;
}	
.noticeboard{
	margin:15px 30px 15px 15px;
}
.faqboard{
	margin:15px 30px 15px 15px;
}

ul{
   list-style:none;
}
   
 a:link { 
 color: red; text-decoration: none;
}

 a:visited { 
 color: black; text-decoration: none;
}

 a:hover { 
 color: blue; text-decoration: underline;
}

	

