
@charset "UTF-8";

*{
	margin:0;
	padding:0;

}

.main{
max-width:100%;
max-height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
border:1px solid blue;
object-fit:fill;
}

.texttitle{
font-weight:bolder;	
font-size:40px;
	
}
.subtitle{
color:#808080;
}

.container1{
max-width:100%;
height:500px
}
	

.eventbanner{
width:100%;
margin-top:10%

}
.betstitem{
max-width:100%;
max-height:100%;
margin-top:10%;
}

.mainitem{
max-width:100%;
max-height:100%;
display:flex;
flex-direction: row;		
}

.mainbest{
width:100%;
height:100%;	
}

.subbest{
	width:100%;
	height:100%
}

.subbest1{
	width:50%;
	height:50%
}

.subbest2{
	width:50%;
	height:50%
}





.subbest{
display:flex;
flex-direction:row;

}

.newtext{
margin-top:10%;
margin-bottom:0;
}

.bigbanner{
display:flex;
flex-direction: row;	
width:90%;
height:100%;

}

.newitem{
display:flex;
flex-direction: row;		
margin:60px;
margin-top:0;

}

.railboard{
display:flex;
flex-direction: column;		
margin:40px;	
}

.floarboard{
display:flex;
flex-direction: column;	
margin:40px;
}

.standboard{
display:flex;
flex-direction: column;	
margin:40px;
}

.wallboard{
display:flex;
flex-direction: column;	
margin:40px;
}







.board2{
display:flex;
flex-direction:row;
margin-top:30px;

text-align:left;
width:50%;

}


.boardinner{
	margin-top:60px;
}

.noticeboard{
	width:400px;
	margin-right:60px;
}

.faqboard{
	width:400px;
	margin-right:60px;
}