
@charset "UTF-8";




.main{
display:flex;
width:100%;
flex-direction:column;
justify-content:center;
align-items:center;

}	





.mainitem{
display:flex;
flex-direction: row;		
}



.mainbest{


}

.subbest{
display:flex;
flex-direction:row;
	
}

.bigbanner{
display:flex;
flex-direction: row;	
}

.newitem{
display:flex;
flex-direction: row;		
}

.board{
display:flex;
flex-direction: row;
}	



	
	

