    .box {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }
    .head_box {
      display: flex;
      flex-flow: row nowrap;
    }
    .img_box {
    margin-right: 50px;
    }
    .section {
    margin-left: 50px;
    }
    #product_img {
      width: 250px;
      height: 250px;
    }
    #order_btn {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px
    }
    .order_btn_box {
      text-align: center;
    }
    .amount_btn {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 25px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px
    }
    #review_btn {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 900px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px
    }
    .review_btn_box {
      text-align: center;
    }
    .product_detail {
      height: 500px;
    }
    .product_delivery {
      height: 500px;
    }
    .product_refund {
      height: 500px;
    }
    .product_review_list {
      height: 500px;
    }
    #review_table {
    text-align: center;
    }
    .review_img_box {
    text-align: center;
    }
    #review_img {
    width: 150px;
    height: 100px;
    }
