@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');  

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
      margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Nanum Gothic', sans-serif;
	
  }
  
.img_box {
  width: 100%;
  position: relative;
}
.img_section {
  height: 200px;
}
.commonContent1 img {
  max-height: 100%;
}

	.inside_box {
	display: flex;
    flex-direction: row;
    justify-content: center;
		padding: 10px;
	}

  .box_left {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
  }

  .box_right {
    display: flex;
    flex-direction: column;
  }
  
  #info_img {
  	width: 200px;
  	height: 150px;
  }
  
  .img_section {
  display: flex;
  justify-content: center;
  }
  
  .company_txt {
  text-align: center;
    margin-top: 30px;
  margin-bottom: 30px;
  }
  
  .box_left_one , .box_right_one {
  margin-right: 10px;
  }