  .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
      margin-top: 30px;
  margin-bottom: 30px;
  }

  .box_left {
    display: flex;
    flex-direction: column;
  }

  .box_right {
    display: flex;
    flex-direction: column;
  }
  
  #info_img {
  	width: 200px;
  	height: 150px;
  }
  
  .img_section {
  display: flex;
  justify-content: center;
  }
  
  .company_txt {
  text-align: center;
    margin-top: 30px;
  margin-bottom: 30px;
  }
  
  .box_left_one , .box_right_one {
  margin-right: 10px;
  }
