
    .wrap {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }

    .content {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
    }
    
   


