  
	.box {
  	display: flex;
  	flex-flow: row nowrap;
  	justify-content: center;
  	align-items: center;
	}



	#product_btns {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 100px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	font-size: 12px;
	}

 	 table {
      font-size: 12px;
    }

    #product_add_btn_box {
      text-align: center;
    }
  
  
