
@charset "UTF-8";




.main{
display:flex;
width:100%;
flex-direction:column;
justify-content:center;
align-items:center;

}	

.service_banner{
width:100%;
height:1%;
}



.mainitem{
display:flex;
flex-direction: row;		
}



.mainbest{


}

.subbest{
display:flex;
flex-direction:row;
	
}

.bigbanner{
display:flex;
flex-direction: row;	
}

.newitem{
display:flex;
flex-direction: row;		
}

.board{
display:flex;
flex-direction: row;
justify-content:center;
align-items:center;
}	
.noticeboard{
	margin:15px 30px 15px 15px;
}
.faqboard{
	margin:15px 30px 15px 15px;
}

ul{
   list-style:none;
}
   
 a:link { 
 color: red; text-decoration: none;
}

 a:visited { 
 color: black; text-decoration: none;
}

 a:hover { 
 color: blue; text-decoration: underline;
}

	

