 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); 
 
 /* PC */
@media screen and ( min-width: 960px ) {
 
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}

    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

   button:hover {
    background-color: rgb(130, 130, 215);
    }

    input[type=text] {
      width: 300px;
    }

    .mypage_head_text {
      margin-top: 50px;
    }

    .password_txt {
      flex-direction: column;
    }

    .password_txt div {
      margin: 5px;
    }
    
    .password_change_box {
    width: 300px;
    height: 20px;
    text-align: center;
    background-color: rgb(213, 213, 218);
    border: none;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }
    
    a {
    text-decoration: none;
    color: black;
  	}

 	 a:link {
    text-decoration: none;
    color: black;
  	}
  	a:visited {
    text-decoration: none;
    color: black;
  	}
 	 a:active {
    text-decoration: none;
    color: black;
  	}
  	a:hover {
    text-decoration: none;
    color: black;
  	}

table {
	text-align: center;
}

.password_change_btn {
	text-align: center;
}

.password_change_btn span {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 3px;
	background-color: rgb(213, 213, 218);
}

    #mypage_btn {
      width: 500px;
      height: 40px;
      background-color: rgb(178, 178, 238);
      border: none;
      color: rgb(17, 17, 17);
      border-radius: 3px;
      font-size: 12px;
    }}

    
/* 태블릿 */
@media screen and ( min-width: 768px )
              and ( max-width: 959px ) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}

    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

   button:hover {
    background-color: rgb(130, 130, 215);
    }

    input[type=text] {
      width: 300px;
    }

    .mypage_head_text {
      margin-top: 50px;
    }

    .password_txt {
      flex-direction: column;
    }

    .password_txt div {
      margin: 5px;
    }
    
    .password_change_box {
    width: 300px;
    height: 20px;
    text-align: center;
    background-color: rgb(213, 213, 218);
    border: none;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }
    
    a {
    text-decoration: none;
    color: black;
  	}

 	 a:link {
    text-decoration: none;
    color: black;
  	}
  	a:visited {
    text-decoration: none;
    color: black;
  	}
 	 a:active {
    text-decoration: none;
    color: black;
  	}
  	a:hover {
    text-decoration: none;
    color: black;
  	}

table {
	text-align: center;
}

.password_change_btn {
	text-align: center;
}

.password_change_btn span {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 3px;
	background-color: rgb(213, 213, 218);
}

    #mypage_btn {
      width: 500px;
      height: 40px;
      background-color: rgb(178, 178, 238);
      border: none;
      color: rgb(17, 17, 17);
      border-radius: 3px;
      font-size: 12px;
    }
}
              
              
/* 모바일 */               
@media screen and ( max-width: 767px ) 
              and ( orientation: portrait ) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}

    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

   button:hover {
    background-color: rgb(130, 130, 215);
    }

    input[type=text] {
      width: 300px;
    }

    .mypage_head_text {
      margin-top: 50px;
    }

    .password_txt {
      flex-direction: column;
    }

    .password_txt div {
      margin: 5px;
    }
    
    .password_change_box {
    width: 300px;
    height: 20px;
    text-align: center;
    background-color: rgb(213, 213, 218);
    border: none;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }
    
    a {
    text-decoration: none;
    color: black;
  	}

 	 a:link {
    text-decoration: none;
    color: black;
  	}
  	a:visited {
    text-decoration: none;
    color: black;
  	}
 	 a:active {
    text-decoration: none;
    color: black;
  	}
  	a:hover {
    text-decoration: none;
    color: black;
  	}

table {
	text-align: center;
}

.password_change_btn {
	text-align: center;
}

.password_change_btn span {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 3px;
	background-color: rgb(213, 213, 218);
}

    #mypage_btn {
      width: 500px;
      height: 40px;
      background-color: rgb(178, 178, 238);
      border: none;
      color: rgb(17, 17, 17);
      border-radius: 3px;
      font-size: 12px;
    }
	}
              
              
@media screen and (max-width: 767px) 
              and (orientation: landscape) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}

    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

   button:hover {
    background-color: rgb(130, 130, 215);
    }

    input[type=text] {
      width: 300px;
    }

    .mypage_head_text {
      margin-top: 50px;
    }

    .password_txt {
      flex-direction: column;
    }

    .password_txt div {
      margin: 5px;
    }
    
    .password_change_box {
    width: 300px;
    height: 20px;
    text-align: center;
    background-color: rgb(213, 213, 218);
    border: none;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }
    
    a {
    text-decoration: none;
    color: black;
  	}

 	 a:link {
    text-decoration: none;
    color: black;
  	}
  	a:visited {
    text-decoration: none;
    color: black;
  	}
 	 a:active {
    text-decoration: none;
    color: black;
  	}
  	a:hover {
    text-decoration: none;
    color: black;
  	}

table {
	text-align: center;
}

.password_change_btn {
	text-align: center;
}

.password_change_btn span {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 100px;
	padding-right: 100px;
	border-radius: 3px;
	background-color: rgb(213, 213, 218);
}

    #mypage_btn {
      width: 500px;
      height: 40px;
      background-color: rgb(178, 178, 238);
      border: none;
      color: rgb(17, 17, 17);
      border-radius: 3px;
      font-size: 12px;
    }
	}