  
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); 
 
 /* PC */
@media screen and ( min-width: 960px ) {
 
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
 	}
 	
.menu_box {
	width: 30%;
}

.section_box {
	width: 50%;
	text-align: center;
}

.blank_box {
	width: 20%;
}
    
    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  
  #review_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #review_img {
  width: 150px;
  height: 100px;
  }
}

/* 태블릿 */
@media screen and ( min-width: 768px )
              and ( max-width: 959px ) {
              
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
 	}
 	
.menu_box {
	width: 30%;
}

.section_box {
	width: 50%;
	text-align: center;
}

.blank_box {
	width: 20%;
}
    
    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  
  #review_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #review_img {
  width: 150px;
  height: 100px;
  }
}

/* 모바일 */               
@media screen and ( max-width: 767px ) 
              and ( orientation: portrait ) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
 	}
 	
.menu_box {
	width: 30%;
}

.section_box {
	width: 50%;
	text-align: center;
}

.blank_box {
	width: 20%;
}
    
    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  
  #review_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #review_img {
  width: 150px;
  height: 100px;
  }
}

@media screen and (max-width: 767px) 
              and (orientation: landscape) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
 	}
 	
.menu_box {
	width: 30%;
}

.section_box {
	width: 50%;
	text-align: center;
}

.blank_box {
	width: 20%;
}
    
    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  
  #review_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #review_img {
  width: 150px;
  height: 100px;
  }      
}


