    
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); 
 
 /* PC */
@media screen and ( min-width: 960px ) {
 
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
 	}
 	
.menu_box {
	width: 35%;
}

.section_box {
	width: 35%;
	text-align: center;
}

.blank_box {
	width: 30%;
}
 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }

  }
  
/* 태블릿 */
@media screen and ( min-width: 768px )
              and ( max-width: 959px ) {
         
           }
/* 모바일 */               
@media screen and ( max-width: 767px ) 
              and ( orientation: portrait ) {

          }
          
@media screen and (max-width: 767px) 
              and (orientation: landscape) {

         }

  
