  
	@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); 
 
 /* PC */
@media screen and ( min-width: 960px ) {
 
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	#product_btn {
	font-size: 10px;
	}
	
	#product_img {
	width: 150px;
	height: 150px;
	}


  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }
    
   .product_num {
   width: 50px;
   font-size: 10px;
   }
   .product_type {
   width: 50px;
   font-size: 10px;
   }
   .product_name {
   width: 100px;
   font-size: 10px;
   }
   .product_brand {
   width: 50px;
   font-size: 10px;
   }
   .product_color {
   width: 50px;
   font-size: 10px;
   }
   .product_price {
   font-size: 10px;
   }
   .product_count {
   width: 70px;
   font-size: 10px;
   }
   .product_img {
   font-size: 10px;
   }
    .product_content {
    width: 150px;
    font-size: 10px;
    }
    .product_input_date {
    width: 100px;
    font-size: 10px;
    }
    .product_modify {
    width: 100px;
    font-size: 10px;
    }
    
    }
  
  /* 태블릿 */
@media screen and ( min-width: 768px )
              and ( max-width: 959px ) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	#product_btn {
	font-size: 10px;
	}
	
	#product_img {
	width: 150px;
	height: 150px;
	}


  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }
    
   .product_num {
   width: 50px;
   font-size: 10px;
   }
   .product_type {
   width: 50px;
   font-size: 10px;
   }
   .product_name {
   width: 100px;
   font-size: 10px;
   }
   .product_brand {
   width: 50px;
   font-size: 10px;
   }
   .product_color {
   width: 50px;
   font-size: 10px;
   }
   .product_price {
   font-size: 10px;
   }
   .product_count {
   width: 70px;
   font-size: 10px;
   }
   .product_img {
   font-size: 10px;
   }
    .product_content {
    width: 150px;
    font-size: 10px;
    }
    .product_input_date {
    width: 100px;
    font-size: 10px;
    }
    .product_modify {
    width: 100px;
    font-size: 10px;
    }}

/* 모바일 */               
@media screen and ( max-width: 767px ) 
              and ( orientation: portrait ) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	#product_btn {
	font-size: 10px;
	}
	
	#product_img {
	width: 150px;
	height: 150px;
	}


  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }
    
   .product_num {
   width: 50px;
   font-size: 10px;
   }
   .product_type {
   width: 50px;
   font-size: 10px;
   }
   .product_name {
   width: 100px;
   font-size: 10px;
   }
   .product_brand {
   width: 50px;
   font-size: 10px;
   }
   .product_color {
   width: 50px;
   font-size: 10px;
   }
   .product_price {
   font-size: 10px;
   }
   .product_count {
   width: 70px;
   font-size: 10px;
   }
   .product_img {
   font-size: 10px;
   }
    .product_content {
    width: 150px;
    font-size: 10px;
    }
    .product_input_date {
    width: 100px;
    font-size: 10px;
    }
    .product_modify {
    width: 100px;
    font-size: 10px;
    }}

@media screen and (max-width: 767px) 
and (orientation: landscape) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	#product_btn {
	font-size: 10px;
	}
	
	#product_img {
	width: 150px;
	height: 150px;
	}


  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }
    
   .product_num {
   width: 50px;
   font-size: 10px;
   }
   .product_type {
   width: 50px;
   font-size: 10px;
   }
   .product_name {
   width: 100px;
   font-size: 10px;
   }
   .product_brand {
   width: 50px;
   font-size: 10px;
   }
   .product_color {
   width: 50px;
   font-size: 10px;
   }
   .product_price {
   font-size: 10px;
   }
   .product_count {
   width: 70px;
   font-size: 10px;
   }
   .product_img {
   font-size: 10px;
   }
    .product_content {
    width: 150px;
    font-size: 10px;
    }
    .product_input_date {
    width: 100px;
    font-size: 10px;
    }
    .product_modify {
    width: 100px;
    font-size: 10px;
    }
}
@media screen and (max-width: 767px) 
and (orientation: landscape) {
	.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	#product_btn {
	font-size: 10px;
	}
	
	#product_img {
	width: 150px;
	height: 150px;
	}


  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }
    
   .product_num {
   width: 50px;
   font-size: 10px;
   }
   .product_type {
   width: 50px;
   font-size: 10px;
   }
   .product_name {
   width: 100px;
   font-size: 10px;
   }
   .product_brand {
   width: 50px;
   font-size: 10px;
   }
   .product_color {
   width: 50px;
   font-size: 10px;
   }
   .product_price {
   font-size: 10px;
   }
   .product_count {
   width: 70px;
   font-size: 10px;
   }
   .product_img {
   font-size: 10px;
   }
    .product_content {
    width: 150px;
    font-size: 10px;
    }
    .product_input_date {
    width: 100px;
    font-size: 10px;
    }
    .product_modify {
    width: 100px;
    font-size: 10px;
    }
}