  
	@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); 
 
 /* PC */
@media screen and ( min-width: 960px ) {
 
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	width: 15%;
}

.section_box {
	width: 75%;
	text-align: center;
}

.balnk_box {
	width: 10%;
}

 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	
	#product_img {
	width: 150px;
	height: 150px;
	}

	button {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 100px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	font-size: 12px;
	}

	button:hover {
	background-color: rgb(130, 130, 215);
	}
  
  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }
    
    }
  
  /* 태블릿 */
@media screen and ( min-width: 768px )
              and ( max-width: 959px ) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	width: 15%;
}

.section_box {
	width: 75%;
	text-align: center;
}

.balnk_box {
	width: 10%;
}

 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	
	#product_img {
	width: 150px;
	height: 150px;
	}

	button {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 100px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	font-size: 12px;
	}

	button:hover {
	background-color: rgb(130, 130, 215);
	}
  
  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }}

/* 모바일 */               
@media screen and ( max-width: 767px ) 
              and ( orientation: portrait ) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	width: 15%;
}

.section_box {
	width: 75%;
	text-align: center;
}

.balnk_box {
	width: 10%;
}

 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	
	#product_img {
	width: 150px;
	height: 150px;
	}

	button {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 100px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	font-size: 12px;
	}

	button:hover {
	background-color: rgb(130, 130, 215);
	}
  
  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }}

@media screen and (max-width: 767px) 
and (orientation: landscape) {
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size:12px;
 	}
 	
.menu_box {
	width: 15%;
}

.section_box {
	width: 75%;
	text-align: center;
}

.balnk_box {
	width: 10%;
}

 	
.menu_btn {
margin: 10px;
font-size: 12px;
text-align: center;
 }

button {
background-color: rgb(178, 178, 238);
border: none;
width: 90px;
height: 25px;
color: rgb(17, 17, 17);
border-radius: 3px;
}

button:hover {
background-color: rgb(130, 130, 215);
 }
	
	#product_img {
	width: 150px;
	height: 150px;
	}

	button {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 100px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	font-size: 12px;
	}

	button:hover {
	background-color: rgb(130, 130, 215);
	}
  
  	.menu_btn {
    margin: 10px;
    font-size: 12px;
  	text-align: center;
 	 }  

  	.order_btn {
  	 font-size: 12px;
  	 text-align: center;
 	 }
 	 
 	 #product_btn {
 	 width: 1000px;
 	 height: 50px;
 	 }
 	 
 	 table {
      font-size: 12px;
    }
    .table a {
    text-decoration: none;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(178, 178, 238);
    border-radius: 3px;
    }
}