  
  .wrap {
  	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  	}
  	
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
    }
    
    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  .basket {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  #basket_btn_box {
  text-align: center;
  }
  
  
  #basket_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #basket_img {
  width: 150px;
  height: 150px;
  }
