  @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); 
 
 /* PC */
@media screen and ( min-width: 960px ) {
  
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 100%;
    }
    
    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  .basket {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  #basket_btn_box {
  text-align: center;
  }
  
  
  #basket_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #basket_img {
  width: 150px;
  height: 150px;
  }
  .delete_btn {
  background-color: rgb(178, 178, 238);
	border: none;
	width: 40px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  }
  
  /* 태블릿 */
@media screen and ( min-width: 768px )
              and ( max-width: 959px ) {
.box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 100%;
    }
    
    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  .basket {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  #basket_btn_box {
  text-align: center;
  }
  
  
  #basket_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #basket_img {
  width: 150px;
  height: 150px;
  }
	}            
              
 /* 모바일 */               
@media screen and ( max-width: 767px ) 
              and ( orientation: portrait ) {
.box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 100%;
    }
    
    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  .basket {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  #basket_btn_box {
  text-align: center;
  }
  
  
  #basket_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #basket_img {
  width: 150px;
  height: 150px;
  }
	}        
              
 @media screen and (max-width: 767px) 
              and (orientation: landscape) {
.box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 100%;
    }
    
    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 100px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

  .basket {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  #basket_btn_box {
  text-align: center;
  }
  
  
  #basket_btn {
	background-color: rgb(178, 178, 238);
	border: none;
	width: 90px;
	height: 25px;
	color: rgb(17, 17, 17);
	border-radius: 3px;
	margin: 5px;
  }
  
  #basket_img {
  width: 150px;
  height: 150px;
  }
	}