    
   @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); 
 
 /* PC */
@media screen and ( min-width: 960px ) {
 
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
height: 300px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

   button:hover {
    background-color: rgb(130, 130, 215);
    }
    
    
	.pagination > li > a{
	 background-color: white;
	 color: rgb(228, 211, 241);
	}
	
	.pagination > li > a:focus,
	.pagination > li > a:hover,
	.pagination > li > a:active,
	.pagination > li > span:focus,
	.pagination > li > span:hover,
	.pagination > li > span:active
	{
	    color: rgb(95, 59, 151);
	    background-color: #eee;
	    border-color: #ddd;
	}
	
	.pagination > .active{
	    color: white;
	    background-color: rgb(178, 178, 238);
	    border: solid 1px rgb(178, 178, 238);
	}
	
	.page-item > .active {
		background-color: rgb(178, 178, 238);
	}
	
	.pagination > .active > a:hover	{
	    background-color: rgb(178, 178, 238);
	    border: solid 1px rgb(178, 178, 238);
	}
	
	 .page-link:focus {
		background-color: rgb(178, 178, 238);
	}
	
	.page-link:active {
		background-color: rgb(178, 178, 238);
	}
	
	.pagination > .active > a {
		background-color: rgb(178, 178, 238);
	}
	
	.pagination > .active > a,
	.pagination > .active > a:hover,
	.pagination > .active > a:visited {
	    background-color: rgb(178, 178, 238);
	    border: 1px solid rgb(178, 178, 238);
	}
	
	#review_btn {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 60px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    }
    
    #review_btn:hover {
    background-color: rgb(132, 132, 227);
    }
    

}


/* 태블릿 */
@media screen and ( min-width: 768px )
              and ( max-width: 959px ) {
              
.box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
height: 300px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

   button:hover {
    background-color: rgb(130, 130, 215);
    }
	
}

/* 모바일 */               
@media screen and ( max-width: 767px ) 
              and ( orientation: portrait ) {
              
              
 .box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
height: 300px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

   button:hover {
    background-color: rgb(130, 130, 215);
    }
              
              }
              
@media screen and (max-width: 767px) 
              and (orientation: landscape) {
              
 .box {
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
width: 100%;
font-family: 'Nanum Gothic', sans-serif;
margin-top: 30px;
margin-bottom: 30px;
font-size: 12px;
height: 300px;
 	}
 	
.menu_box {
	position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 35%;
  right: 85%;
  bottom: 35%;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section_box {
	justify-content: center;
	text-align: center;
}
    .menu_btn {
    margin: 10px;
  	text-align: center;
    }

    #btns {
    background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    font-size: 12px;
    }

   button:hover {
    background-color: rgb(130, 130, 215);
    }
              
}
