.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.box {
	margin: 10px;
}

.loginMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	border: 3px solid rgb(178, 178, 238);
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 50px;
	font-size: 12px;
}

.main1 td, .main2 td {
	padding: 3px;
}

#login_btn {
background-color: rgb(178, 178, 238);
 border: none;
 width: 200px;
 height: 30px;
 color: rgb(17, 17, 17);
 border-radius: 3px;
}

#login_text {
	width: 200px;
	height: 30px;
}

#login_img {
	width: 100px;
	height: 100px;
}

#login_btn:hover {
background-color: rgb(132, 132, 227);
}

#find_btn {
	background-color: rgb(178, 178, 238);
 border: none;
 width: 90px;
 height: 25px;
 color: rgb(17, 17, 17);
 border-radius: 3px;
}

#find_btn:hover {
	background-color: rgb(132, 132, 227);
}

#btn_box {
	justify-content: space-between;
}