.main {
	display: flex;
	justify-content: center;
	font-size: 12px;
}

.btn_box {
	text-align: center;
}


#password_table {
padding: 5px;
margin: 10px 10px 10px 30px;	
}

#password_btns {
	background-color: rgb(178, 178, 238);
    border: none;
    width: 90px;
    height: 25px;
    color: rgb(17, 17, 17);
    border-radius: 3px
}

#password_btns:hover {
	background-color: rgb(132, 132, 227);
}